# Ignore compiled Python files
*.pyc
*.env

# Ignore Django's settings file (if using different settings files for different environments)
**/settings.py

# Ignore local development settings
**/local_settings.py

# Ignore database files
db.sqlite3

# Ignore media and static files
media/
static/

# Ignore virtual environment
venv/
env/

# Ignore any generated documentation
**/docs/

# Ignore log files
*.log

# Ignore cache files
__pycache__/

# Ignore migration cache
**/migrations/pycache/

# Ignore secret keys or sensitive information
*.secret

# Ignore any files or directories that you want to keep local
# For example, local test data
# local-test-data/

# Ignore system files
.DS_Store
Thumbs.db