{% extends "app/main.html" %}
{% block content %}

<div class="container bg-dark text-light">
    <div class="p-2"></div>
    <div class="alert alert-danger" role="alert">
        Are You sure, You want to remove {{product}}?
    </div>
    <form action="{% url 'remove_product' product.id %}" method="POST" class="mx-auto" style="width: 200px;">
        {% csrf_token %}
        <input value="Yes" type="submit" class="btn btn-primary btn-lg">
        <a type="button" class="btn btn-secondary btn-lg" href="{% url 'product_list' %}">NO</a>
    </form>
    <div class="p-2"></div>
</div>
<div class="p-2"></div>

{% endblock %} 